.select-handler {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 2;
    left: 0;
    background: #61dafb;
}

.select-handler:hover {
    cursor: grab;
}

.select-handler.top {
    bottom: 100px;
}

.select-handler.bottom {
    bottom: 1px;
}