.image-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: 2rem auto;
  height: 4rem;
  border: 1px solid #272a2f;
  border-radius: 1rem;

  *:hover {
    cursor: pointer;
  }

  .file-input {
    display: none;
  }

  label {
    margin-left: 1rem;
  }
}

.trigger {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px solid transparent;

  &:hover {
    cursor: pointer;
  }
}
