.app {
  text-align: center;

  .selected-pics {
    display: flex;
    justify-content: space-between;
    margin: 0 6vw;
  }

  .file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 600px;
    overflow-y: auto;
  }
}

img {
  display: block;
  //transition: height 0.2s linear;
}

.preview {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  margin: 20px auto;
}

.btn-group {
  margin-bottom: 1ex;
}

.finalPreview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    .download {
      visibility: visible;
      opacity: 1;
      cursor: pointer;
    }
  }

  .download {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    top: 45%;
    left: 50%;
    box-shadow: 1px 2px 3px 0 #272a2f;
    border-radius: 50%;
    transform: translate(-50%);
    visibility: hidden;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.2s linear;
  }
}

.pinn-btn {
  font-size: 1.6rem;
}
